# Precompiled binary to avoid Rust build issues on Render
tokenizers==0.19.1 --only-binary=:all:

fastapi==0.111.0
uvicorn==0.29.0
transformers==4.40.1
torch==2.5.1
blobfile==2.1.1
tiktoken==0.6.0
sentencepiece==0.1.99
